<div id="<%= dom_id session %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= session.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Max capacity:</strong>
    <%= session.max_capacity %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= session.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Archived at:</strong>
    <%= session.archived_at %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= session.deleted_at %>
  </div>
</div>
